---
layout: compress
---
<!DOCTYPE html>
<html class=no-js lang=en>
    <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}K-ONnoisseur's Anime Review</title> 
    <link href="data:image/png;base64," rel=icon type="image/png">
    <style>
        body {
            margin: 1em auto;
            max-width: 35em;
            padding: 0 3em;
            font: 1.1em serif;
        }
        a {
            text-decoration: none;
        }
        h1,h2,h3 {
            margin: 0;
            text-align: center;
        }
        .anime {
            margin: 1em 0 2em 0;
            overflow: hidden;
        }
        .anime .meta {
            float: left;
            margin-right: 3em;
        }
        .anime .meta .title {
            font-size: 120%;
        }
        .anime .pict {
            margin-right: -.2em;
            float: right;
        }
        img {
            max-width:100px;
            max-height:100px;
        }
    </style>
    </head>
    <body>
        {{ content }}
    </body>
</html>
