---
layout: default
---

<a href="{{ site.url }}/">Go back to the main page.</a>
<div class=anime>
<div class=meta>
<span class=title>{{ page.title }}</span><br />
Status: {{ page.status }}<br />
Score: {{ page.score }}
</div>
<div class=pict><img src="{{ site.url }}/{{ page.img }}" alt="Source: {{ page.imgsrc }}"/></div>
</div>

{{ content }}
